@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin-ext');
@import './colors';

body {
  margin: 0;
  background: $background;
  font-family: 'Playfair Display', serif;
}
